@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */



body {
  background-color: #F7F7F7;
}

.customContainer {
  @apply container mx-auto px-5 sm:px-0
}

.headerText1 {
  @apply text-4xl md:text-6xl font-bold
}

.paragraphText1 {
  @apply text-base sm:text-xl
}
